:root {
  --primary-text-color: hsl(75, 94%, 57%);
  --secondary-text-color: hsl(0, 0%, 100%);
  --container-background-color: hsl(0, 0%, 8%);
  --link-background-color: hsl(0, 0%, 12%);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--secondary-text-color);
  font-family: Inter;
}

.container {
  background-color: var(--container-background-color);
  margin: 14px;
  border-radius: 10px;
  width: 270px;
  padding: 16px;
}

.profile-img {
  background-image: url('./assets/images/avatar-jessica.jpeg');
  height: 80px;
  width: 80px;
  background-size: cover;
  border-radius: 50%;
  margin: 16px 0 32px 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

h2 {
  font-size: 13px;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.profile p {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin: 8px 0;
}

.links {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  font-size: 12px;
}

.link {
  padding: 0.75rem 1rem;
  background-color: var(--link-background-color);
  margin: 0.5rem 0;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.6s background-color ease;
}

.link a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.link:hover {
  background-color: var(--primary-text-color);
  cursor: pointer;
}

.link:hover a {
  color: var(--container-background-color);
}
